{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div>
		    	<img class="logo" src="{{AppSubUrl}}/img/gogs-lg.png" />
			</div>
			<div class="hero">
			    <h1 class="ui icon header title">
			    	QGS - Qiyi Git Service
			    </h1>
			    <h2>{{.i18n.Tr "app_desc"}}</h2>
			</div>
	  </div>
		<div class="ui divider"></div>
	</div>
</div>
{{template "base/footer" .}}
